.Vite-index-ul{
    padding: 15px;
    margin-left: 15px;
}

/* footer */
.Button-open-vite {
    background: linear-gradient(135deg, #646cff, #3c3cde); /* Colores de Vite */
    color: #ffffff;
    font-size: 1.2rem;
    font-weight: bold;
    padding: 12px 24px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s ease, box-shadow 0.2s ease, background-color 0.2s ease;
}

.Button-open-vite:hover {
    transform: translateY(-2px); /* Efecto de flotación */
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.3); /* Sombra más intensa */
    background: linear-gradient(135deg, #3c3cde, #646cff); /* Cambiar colores al pasar el mouse */
}

.Button-open-vite:active {
    transform: translateY(1px); /* Efecto de presión */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Sombra reducida */
}

.Button-open-vite:focus {
    outline: 2px solid #646cff; /* Contorno accesible */
    outline-offset: 4px;
}

footer{
    background: linear-gradient(145deg,#3c3cde,rgba(191, 100, 211, 0.758));
    text-align: center;
    display: flow-root;
    box-shadow: 0 -2px 2px rgba(255, 255, 255, 0.533);
}

.titulo_footer h2{
    font-size: 45px;
}